.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .card-equal-height .card-text.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card-equal-height .card-text {
    white-space: normal;
  }
  